:root {
    --background-color: #070708;
}

body {
    background-color: var(--background-color);
    width: 100%;
    min-height: calc(3000px + 100vh);
}

/* text */

.text {
    display: flex;
    width: 100%;
    z-index: 1;
    padding: 0 40px;
    z-index: 2;

}

.text .column1 {
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 38px;
    flex: 2 1 0px;
    line-height: 1.25;
    min-width: 0;
    z-index: 2;

}

.column1 p {
    /* color: #FCF7FC; */
    color: #ededed;
    overflow: hidden;
    overflow-wrap: break-word;
    text-shadow: 2px 2px 4px var(--background-color);
}

.text .column2 {
    flex: 3 1 0px;
    min-width: 0;
}

.text .column3 {
    flex: 1 1 0px;
    min-width: 0;
}

/* cube */

.cube {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

/* footnote */

#footnote-1 {
    font-size: 20px;
}