body {
    background-color: #0c0c11;
    width: 100%;
    min-height: calc(3000px + 100vh);
}

/* text */

.text {
    display: flex;
    width: 100%;
    z-index: 1;
    padding: 0 40px;
    z-index: 2;

}

.text .column1 {
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 38px;
    flex: 1 1 0px;
    line-height: 1.25;
    min-width: 0;
    z-index: 2;

}

.column1 p {
    color: #FCF7FC;
    overflow: hidden;
    overflow-wrap: break-word;
}

.text .column2 {
    flex: 1 1 0px;
    min-width: 0;
}

.text .column3 {
    flex: 1 1 0px;
    min-width: 0;
}

/* cube */

.cube {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 0;
}

/* footnote */

#footnote-1 {
    font-size: 20px;
}